<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @general_medium.name %>
</p>

<%= link_to 'Edit', edit_general_medium_path(@general_medium) %> |
<%= link_to 'Back', general_media_path %>
