<%# This is a form for following users 
    Author: Alyssa Langhals
    Created on: 11/27
%>


<%= form_tag("create",:method => :post, :id => "create", :name => "create") do %>

  <div><%= hidden_field_tag :fTarget, @thisUser.id %></div>

  <div class="field">
    <%= submit_tag "Follow" %>
  </div>
<% end %>
