<%# This is a form for following users 
    Author: Alyssa Langhals
    Created on: 11/27
%>
<%= form_with(model: follower, local: true) do |form| %>
  <div><%= hidden_field_tag :fTarget, @thisUser.id %></div>
  <%= form.submit "Follow", class: "btn btn-primary" %>
<% end %>
