<%# This is a form for following users 
    Author: Alyssa Langhals
    Created on: 11/27
%>

<%= form_tag(url_for(:controller => 'followers', :action => 'create'), method: :post) do %>
  <div><%= hidden_field_tag :fTarget, @thisUser.id %></div>
  <%= submit_tag "Follow", class: "btn btn-primary", style:"display:inline;" %>

<% end %>
