<%# This is a form for unfollowing users 
    Author: Alyssa Langhals
    Created on: 11/27
%>

<%= form_with(model: follower, local: true, html: { method: :delete }) do |form| %>
  <div><%= hidden_field_tag :fTarget, @thisUser.id %></div>
  <%= form.submit "Unfollow", class: "btn btn-primary" %>
<% end %>


