<%# This is a form for unfollowing users 
    Author: Alyssa Langhals
    Created on: 11/27
%>

<%= form_tag( url_for(:controller => 'followers', :action => 'destroy'), method: :delete) do %>
  <div><%= hidden_field_tag :fTarget, @thisUser.id %></div>
  <%= submit_tag "Unfollow", class: "btn btn-primary" %>
<% end %>


