<h1>New Follower</h1>

<% if !current_user.followers.find_by(fTarget: 1) %>
  <%= render 'follow_form', follower: @follower %>
<% end %>
<% if current_user.followers.find_by(fTarget: 1) %>
  <%= render 'unfollow_form', follower: @follower %>
<% end %>

<%= link_to 'Back', followers_path %>
