.innerField {
  display:none;
}
h3{
  padding:0.5% 2%;
  margin:1%;
  border-radius: 0.5em;
  font-size:200%;
}

body{
  background-color: #1a75ff !important;
}

.well{
  background-color: #b3d1ff !important;
}

.jumbotron{
  background-color: #e6f0ff !important;
}
