body{
  background-color:#21326B;
}
#header{
  text-align: center;
  background-color:#384968;
  border-radius: 0.5em;
}
h1{
  padding:3%;
  color:white;
  margin:1%;
  font-family:Arial;
  font-size:400%;
}
h3{
  background-color:#1B222F;
  color:white;
  padding:2.5%;
  margin:2.5%;
  border-radius: 0.5em;
  font-size:200%;
}
#mainArea{
  vertical-align: text-top;
  display: inline-block;
  width:60%;
  background-color:#384968;
  margin:0.5%;
  border-radius: 0.5em;
}
li{
  color:white;
  font-size:18px;
  margin:1%;
}
#login{
  margin:5%;
  color:white;
  border:solid;
  text-align: center;
  padding:0.5%;
  background-color:#1B222F
}
#loginText{
  margin:0px;
  font-size:150%;
}
span{
  color:yellow;
}
span:hover{
  color:white;
}
#latestUpdates{
  vertical-align: text-top;
  display: inline-block;
  width:35%;
  background-color:#384968;
  margin:0.5%;
  border-radius: 0.5em;
}
