h3{
  padding:0.5% 3%;
  margin:1%;
  border-radius: 0.5em;
  font-size:200%;
}
li{
  font-size:18px;
}
.history{
  margin:3%;
  padding:3%;
  background-color:#DFDFDF;
  border-radius: 0.5em;
}
.field, #select_form{
  margin: 1% 3%;
}
