 <div id = "container">
      <div id = "header">
	      <h1><%= @thisUser.first_name.capitalize%> <%=  @thisUser.last_name.capitalize%></h1>
      </div>
      <% if current_user.id != @thisUser.id %>
      	<% if @followers.any?{|x| x.user == current_user.id} %>
      		<div>
		  <p>following</p><%= render 'followers/unfollow_form', follower: @follower %>
		</div>
      	<% else %>
      	  <%= render 'followers/follow_form', follower: @follower %>
      	<% end %>
      <% end %>

      <div id = "main">
        <div id = "mainArea">
          <h3>Your Media</h3>

	        <h3>Options</h3>
	        <ul>
            <li>Click <a href="/static_pages/addMedia">here</a> to add a media</li>
            <li>Click <a href="/static_pages/preferences">here</a> to update preferences</li>
            <li><a href="/static_pages/home">home</a></li>
	        <ul>

        </div>

	      <div id = "latestUpdates">
            <h3>Followers</h3>
	      <% for i in 1..@limitb do%>
	        <div class = "followers">
	          <p class = "follower"><%# @user.find(@follower[i].id).username %></p>
	        </div>
	      <% end %>
          </div>	
      </div>
    </div>
