<form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "custom_form" id = "custom_form">
  <label> Please enter the number of custom fields would you like to add?</label>
  <input id = "number_of_items" type="number" min = "1" max = "10" placeholder = "0">
  <input style = "display:none" class = "1" type = "text" placeholder= "Enter Field 1">
  <input style = "display:none" class = "1" type = "text" placeholder= "Enter Field 1 Value">
  <input style = "display:none" class = "2" type = "text" placeholder= "Enter Field 2">
  <input style = "display:none" class = "2" type = "text" placeholder= "Enter Field 2 Value">
  <input style = "display:none" class = "3" type = "text" placeholder= "Enter Field 3">
  <input style = "display:none" class = "3" type = "text" placeholder= "Enter Field 3 Value">
  <input style = "display:none" class = "4" type = "text" placeholder= "Enter Field 4">
  <input style = "display:none" class = "4" type = "text" placeholder= "Enter Field 4 Value">
  <input style = "display:none"class = "5" type = "text" placeholder= "Enter Field 5">
  <input style = "display:none" class = "5" type = "text" placeholder= "Enter Field 5 Value">
  <input style = "display:none" class = "6" type = "text" placeholder= "Enter Field 6">
  <input style = "display:none" class = "6" type = "text" placeholder= "Enter Field 6 Value">
  <input style = "display:none" class = "7" type = "text" placeholder= "Enter Field 7">
  <input style = "display:none" class = "7" type = "text" placeholder= "Enter Field 7 Value">
  <input style = "display:none" class = "8" type = "text" placeholder= "Enter Field 8">
  <input style = "display:none" class = "8" type = "text" placeholder= "Enter Field 8 Value">
  <input style = "display:none" class = "9" type = "text" placeholder= "Enter Field 9">
  <input style = "display:none" class = "9" type = "text" placeholder= "Enter Field 9 Value">
  <input style = "display:none" class = "10" type = "text" placeholder= "Enter Field 10">
  <input style = "display:none" class = "10" type = "text" placeholder= "Enter Field 10 Value">

  <input type="submit">
</form>
