<!--
Author: Berkay Kaplan
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/static_pages/home.html">Media Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Privacy", "/static_pages/privacy.html" %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    
    <%= render :partial => 'static_pages/search1_form', follower: @follower %>
  </div>
</nav> 
