<!--
Created By: Michael Radey: Form that accepts a username and searches for that
	user.  If found shows that page otherwise returns user not found
-->

<%= form_tag(url_for(:controller => 'static_pages', :action => 'search_form'), method: :get, class:"navbar-form navbar-left") do %>
  <div class="form-group"><%= text_field_tag(:userName, nil, placeholder: 'search users') %></div>
  <%= submit_tag "Search", class: "btn btn-default" %>

<% end %>
