    <div id = "container">
      <div id = "header">
	      <h1><%= @Title %></h1>
      </div>
      <div id = "main">
        <div id = "mainArea">
          <h3>Track Your Media Collection</h3>
          <ul>
            <li>See your every media element in one place</li>
            <li>Custom entries support every media element</li>
            <li>Customize the look of your profile</li>
          </ul>
          <% if !user_signed_in? %>
          <div id = "login">
            <p id = "loginText">Click <span>here</span> to login</p>
          </div>
          <% else %>
          <div id = "login">
            <p id = "loginText">Click <a href="/static_pages/addMedia">here</a> to add a media</p>
          </div>
          <% end %>
        </div>
        <div id = "latestUpdates">
          <h3>Latest Updates</h3>
        </div>
      </div>
    </div>
