    <div id = "container">
      <div id = "header">
	      <h1>3901 Project</h1>
      </div>
      <div id = "main"> 
        <div id = "mainArea">
          <h3>Track Your Media Collection</h3>
          <ul>
            <li>See your every media element in one place</li>
            <li>Custom entries support every media element</li>
            <li>Customize the look of your profile</li>
          </ul>
          <div id = "login">
            <p id = "loginText">Click <span>here</span> to login</p>
          </div>
        </div>
        <div id = "latestUpdates">
          <h3>Latest Updates</h3>
        </div>
      </div>
    </div>
