<!--
Created By: Michael Radey: Page that lets user toggle their privacy settings
-->

<div id = "container">
  <% if user_signed_in? %>
    <%= render "header.html" %>
  <% end %>
  <div class = "well">
    <h3 class = "jumbotron">Privacy Settings</h3>
<%= form_tag("preference_form",:method => :post, :id => "preference_form", :name => "preference_form") do %>
<div class="field">
  	<label>Check for a private profile</label>
  	<%= check_box_tag(:privacy) %>
</div>
	<div class="field">
	<%= submit_tag "Update Preferences" %>
	</div>

<% end %>
  </div>
</div>
