<td><%= media_object.personal_media_parameters.first.currentStatus%></td>
<td><% if media_object.personal_media_parameters.first.favorite %> ✓ <%end%> </td>
<td><%= media_object.personal_media_parameters.first.score%></td>
<td><%= media_object.personal_media_parameters.first.source%></td>
<td><%= media_object.personal_media_parameters.first.replay%></td>
<td> <button type = "button" class = "close" aria-label = "Close"%>
  <span aria-hidden = "true">&times;</span>  </button>  </td>
